{{ define "main" }}
<section class="photos-gallery">
  <section class="photos-grid-container">
    {{- $list := where .Site.Pages ".Params.photos" "!=" nil -}} {{- $len :=
    (len $list) -}} {{ range $index, $value := $list }}
    <article class="photo-item">
      <a href="{{ .Permalink }}">
        {{ range first 1 .Params.photos }}
        <figure>
          <img
            src="{{ . }}"
            width="300"
            height="300"
            class="photos-grid-item"
            loading="lazy"
            alt="{{ $.Title }}"
          />
        </figure>
        {{ end }}
      </a>
    </article>
    {{ end }}
  </section>
</section>
{{ end }}
