{{ define "main" }}
<article class="post-article">
  {{ if .Title }}
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    
    {{ if or .Date .Params.author .Params.categories }}
    <aside class="post-meta">
      {{ if .Date }}
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      {{ end }}
      
      {{ if .Params.author }}
      {{ if .Date }} • {{ end }}
      <address class="author">{{ .Params.author }}</address>
      {{ end }}
      
      {{ if .Params.categories }}
      {{ if or .Date .Params.author }} • {{ end }}
      <nav class="categories">
        {{ range $index, $category := .Params.categories }}
          {{ if gt $index 0 }}, {{ end }}
          <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="category-link">{{ . }}</a>
        {{ end }}
      </nav>
      {{ end }}
    </aside>
    {{ end }}
  </header>
  {{ end }}

  <section class="post-content">
    {{ .Content }}
  </section>

  {{ if .Params.tags }}
  <footer class="post-footer mt-4">
    <nav class="post-tags">
      {{ range .Params.tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag-link"># {{ . }}</a>
      {{ end }}
    </nav>
  </footer>
  {{ end }}
</article>
{{ end }}
