<header class="site-header">
  <section class="container">
    <section class="row align-items-center">
      <section class="col">
        <h1 class="site-title">
          <a href="/" class="text-decoration-none">{{ .Site.Title }}</a>
        </h1>
      </section>

      <section class="col-auto">
        <nav class="site-nav">
          <section class="nav-links">
            {{ range .Site.Menus.main }} {{ if .Page.Params.redirect_url }}
            <a class="nav-link" href="{{ .Page.Params.redirect_url }}"
              >{{ .Name }}</a
            >
            {{ else }}
            <a class="nav-link" href="{{ .URL | relLangURL | safeURL }}"
              >{{ .Name }}</a
            >
            {{ end }} {{ end }}
          </section>

          <button
            id="theme-toggle"
            class="theme-toggle"
            type="button"
            title="Toggle theme"
          >
            <span class="theme-text"></span>
          </button>
        </nav>
      </section>
    </section>
  </section>
</header>
